<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['State', 'Jobs'],
          ['In Range',     11],
          ['Slow',      2],
          ['Too slow',  2],
          ['Very too slow', 1]
        ]);

        var options = {
          title: 'Reports of jobs'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 300px;"></div>
  </body>
</html>
